*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
     text-align: center;
}
body
{
    background-color:#F8CCF9
}
.container {
    height: 80vh;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;    /* vertically center */
    
}
.wrapper {
    width: 300px; /* width that fits 3 boxes with gap */
    display: flex;
    flex-wrap: wrap; /* allow boxes to wrap to next line */
    justify-content: center;
     gap: 5px; 
}
.box
{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
    .buttons{

        display:flex;
        align-items: center;
        justify-content: center;
        gap:5px;
        margin-top: 20PX; 
       
    }
    .reset{
         background-color: transparent;
    }